/*Reset styles*/
*,
*::before,
*::after{
    margin: 0;
}
i{
    font-size: 2rem;
    color: black;
}
/*#logo{
    width: 4rem;
    height: auto;
}*/
.contenedor{
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(8,auto);
}
#base{
    width: 99.1vw;
    height: 70vh;
    grid-column: 1/9;
    grid-row: 1/9;
}
.search{
    z-index: 7;
    grid-column: 3/5;
    grid-row: 2/8;
    width: 28vw;
}
#magnifier{
    width: 25%;
}
.texto{
    z-index: 7;
    font-size: 2rem;
    font-weight: bold;
    color: white;
    grid-column: 4/7;
    grid-row: 4/6;
}
.busqueda{
    display: flex;
    justify-content: space-between;
    background-color: white;
    width: 35rem;
    padding: 5px;
    border-radius: 10px;
}
#barrabusqueda{
    border: none;
}
.searchbar{
    grid-column: 4/6;
    grid-row: 3/4;   
}
.container{
    display: flex;
    width: 80vw;   
}
.div1{
    width: 40px;
    height: 100px; 
    background-color: black;
}
#images{
    width: 99vw;
}
footer{
    background-color: navy;
}