/*Reset styles*/
*,
*::before,
*::after{
    margin: 0;
}
i{
    font-size: 2rem;
    color: black;
}
.contenedor{
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(8,auto);
}
#base{
    width: 99.1vw;
    height: 70vh;
    grid-column: 1/9;
    grid-row: 1/9;
}
.texto{
    z-index: 7;
    font-size: 2rem;
    font-weight: bold;
    color: white;
    grid-column: 4/7;
    grid-row: 4/6;
    padding-left: 4rem;
}
.busqueda{
    display: flex;
    justify-content: space-between;
    width: 20vw;
    padding: 5px;
    border-radius: 10px;
}
#barrabusqueda{
    border: none;
}
.container{
    display: flex;
    width: 80vw;   
}
#images{
    width: 99vw;
}
footer{
    background-color: navy;
}